* {

}

#carousel {
	margin: 0 auto;
	width: 400px;
	height: 300px;
	overflow: hidden;
	border: 5px solid #000;
	ul {
		width: 2000px;
		padding: 0;
		margin: 0;
		li {
			width: 400px;
			list-style-type: none;
			float: left;
		}
	}
	.prev, .next {
		position: absolute;
		cursor: pointer;
		top: 18%;
		font-size: 40px;
		color: red;
	}
	.next {
		left: 61%;
	}
}